.agenda {
    display: block;
    position: relative;
    background-color: #181919;
    z-index: -1;
    background-image: url("../../../assets/Agenda\ -\ pozadina.png");
    background-size: 100% 100%;
    height: 100vh;
}



.agenda .title {
    font-size: 4rem;
    text-align: left;
    padding-top: 1rem;
    padding-left: 10rem;
    font-weight: 100;
    color: #ffffff;
}

.agenda .title::before {
    content: "";
    height: 3.7rem;
    width: 10px;
    background-color: #00ffa3;
    position: absolute;
    top: 6.4rem;
    left: 8.4rem;
}

.agenda-content {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.first,
.second,
.third,
.fourth,
.fifth,
.sixth {
    border-radius: 20px;
    padding: 2rem 0rem;
    background: linear-gradient(180.6deg, rgba(24, 25, 25, 0.316) 27%, rgba(24, 25, 25, 0) 109.32%);
    box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(20px);
}

.agenda-first,
.agenda-second,
.agenda-third,
.agenda-fourth,
.agenda-fifth,
.agenda-sixth {
    height: 73vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #00FFA3; */
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.ag-fi-date,
.ag-sc-date,
.ag-th-date,
.ag-fo-date,
.ag-fv-date,
.ag-sh-date {
    font-size: 1rem;
    width: 100%;
}

.ag-fi-date p,
.ag-sc-date p,
.ag-th-date p,
.ag-fo-date p,
.ag-fv-date p,
.ag-sh-date p {
    font-size: 1.7rem;
    color: #00ffa3;
    text-align: left;
}

.ag-fi-title,
.ag-sc-title,
.ag-th-title,
.ag-fo-title,
.ag-fv-title,
.ag-sh-title {
    width: 100%;
}

.ag-fi-title p,
.ag-sc-title p,
.ag-th-title p,
.ag-fo-title p,
.ag-fv-title p,
.ag-sh-title p {
    font-size: 1.4rem;
    color: #ffffff;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-align: left;
    font-weight: 600;
}

.ag-fi-text p,
.ag-sc-text p,
.ag-th-text p,
.ag-fo-text p,
.ag-fv-text p,
.ag-sh-text p {
    font-size: 1rem;
    color: #ffffff;
    font-weight: 100;

    text-align: left;
}

.agenda-first {
    padding-top: 50%;
}

.agenda-second {
    padding-bottom: 50%;
}

.agenda-third {
    padding-top: 50%;
}

.agenda-fourth {
    padding-bottom: 50%;
}

.agenda-fifth {
    padding-top: 50%;
}

.agenda-sixth {
    padding-bottom: 50%;
}

/* extra mali mobilni */
@media screen and (max-width: 340px) {

    .agenda {
        background-image: url("../../../assets/Frame\(1\).png");
        background-size: 100% 100%;
        height: auto;
        background-size: cover;
        background-position: center;
    }

    .agenda-content {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .agenda .title {
        font-weight: 100;
        color: #FFFFFF;
        font-size: 2.2rem;
        padding-left: 2.9rem;
        margin-bottom: 1rem;
    }

    .agenda .title::before {
        width: 7px;
        height: 1.7rem;
        position: absolute;
        top: 1.7rem;
        left: 2rem;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth {
        width: 50vw;
        padding:0.3rem .5rem;
    }

    .second .ag-sc-date p,
    .second .ag-sc-text p,
    .second .ag-sc-title p,
    .fourth .ag-fo-date p,
    .fourth .ag-fo-text p,
    .fourth .ag-fo-title p,
    .sixth .ag-sh-date p,
    .sixth .ag-sh-text p,
    .sixth .ag-sh-title p {
        text-align: right !important;
    }

    .agenda-first,
    .agenda-second,
    .agenda-third,
    .agenda-fourth,
    .agenda-fifth,
    .agenda-sixth {
        height: 15vh;
        border: 2px solid #00FFA3;
        padding: 0rem;
    }

    .ag-fi-date,
    .ag-sc-date,
    .ag-th-date,
    .ag-fo-date,
    .ag-fv-date,
    .ag-sh-date {
        width: 100%;
    }

    .ag-fi-date p,
    .ag-sc-date p,
    .ag-th-date p,
    .ag-fo-date p,
    .ag-fv-date p,
    .ag-sh-date p {
        font-size: .9rem;
    }

    .ag-fi-title,
    .ag-sc-title,
    .ag-th-title,
    .ag-fo-title,
    .ag-fv-title,
    .ag-sh-title {
        width: 100%;
    }

    .ag-fi-title p,
    .ag-sc-title p,
    .ag-th-title p,
    .ag-fo-title p,
    .ag-fv-title p,
    .ag-sh-title p {
        font-size: .8rem;
        margin-bottom: .3rem;
        margin-top: .2rem;
    }

    .ag-fi-text p,
    .ag-sc-text p,
    .ag-th-text p,
    .ag-fo-text p,
    .ag-fv-text p,
    .ag-sh-text p {
        font-size: .5rem
    }

    .agenda-first,
    .agenda-third,
    .agenda-fifth {
        width: 100%;
        align-items: flex-start;
    }

    .agenda-second,
    .agenda-fourth,
    .agenda-sixth {
        width: 100%;
        align-items: flex-end;
    }

}

/* Normalni mobilni */
@media screen and (min-width: 341px) {
    .agenda {
        background-image: url("../../../assets/Frame\(1\).png");
        background-size: 100% 100%;
        height: auto;
    }

    .agenda-content {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .agenda .title {
        font-size: 2.2rem;
        padding-left: 2.9rem;
        margin-bottom: 1rem;
    }

    .agenda .title::before {
        width: 7px;
        height: 1.7rem;
        position: absolute;
        top: 1.8rem;
        left: 2rem;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth {
        width: 50vw;
        padding: .3rem .5rem;
    }

    .second .ag-sc-date p,
    .second .ag-sc-text p,
    .second .ag-sc-title p,
    .fourth .ag-fo-date p,
    .fourth .ag-fo-text p,
    .fourth .ag-fo-title p,
    .sixth .ag-sh-date p,
    .sixth .ag-sh-text p,
    .sixth .ag-sh-title p {
        text-align: right !important;
    }

    .agenda-first,
    .agenda-second,
    .agenda-third,
    .agenda-fourth,
    .agenda-fifth,
    .agenda-sixth {
        height: 16vh;
        border: 2px solid #00FFA3;
        padding: 0rem;
    }

    .ag-fi-date,
    .ag-sc-date,
    .ag-th-date,
    .ag-fo-date,
    .ag-fv-date,
    .ag-sh-date {
        width: 100%;
    }

    .ag-fi-date p,
    .ag-sc-date p,
    .ag-th-date p,
    .ag-fo-date p,
    .ag-fv-date p,
    .ag-sh-date p {
        text-align: left;
        font-size: 1.1rem;
    }

    .ag-fi-title,
    .ag-sc-title,
    .ag-th-title,
    .ag-fo-title,
    .ag-fv-title,
    .ag-sh-title {
        width: 100%;
    }

    .ag-fi-title p,
    .ag-sc-title p,
    .ag-th-title p,
    .ag-fo-title p,
    .ag-fv-title p,
    .ag-sh-title p {
        text-align: left;
        font-size: .7rem;
        margin-bottom: .3rem;
        margin-top: .3rem;
    }

    .ag-fi-text p,
    .ag-sc-text p,
    .ag-th-text p,
    .ag-fo-text p,
    .ag-fv-text p,
    .ag-sh-text p {
        color: #FFFFFF;
        font-weight: 100;
        text-align: left;
        font-size: .5rem;
        padding-left: .5rem;
    }

    .agenda-first,
    .agenda-third,
    .agenda-fifth {
        width: 100%;
        align-items: flex-start;
    }

    .agenda-second,
    .agenda-fourth,
    .agenda-sixth {
        width: 100%;
        align-items: flex-end;
    }
}

/* veliki telefoni i mali tableti */
@media screen and (min-width: 425px) {

    .agenda {
        background-image: url("../../../assets/Frame\(1\).png");
        background-size: 100% 100%;
        height: auto;
    }

    .agenda .title {
        color: #ffffff;
        font-size: 2.2rem;
        padding-left: 2.9rem;
        margin-bottom: 1rem;
    }

    .agenda-content {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .agenda .title {
        font-weight: 100;
        font-size: 2.8rem;
        padding-left: 2.9rem;
        margin-bottom: 1rem;
    }

    .agenda .title::before {
        content: "";
        width: 7px;
        background-color: #00FFA3;
        height: 2.3rem;
        position: absolute;
        top: 1.9rem;
        left: 2rem;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth {
        width: 50vw;
        padding: .2rem .5rem;
    }

    .second .ag-sc-date p,
    .second .ag-sc-text p,
    .second .ag-sc-title p,
    .fourth .ag-fo-date p,
    .fourth .ag-fo-text p,
    .fourth .ag-fo-title p,
    .sixth .ag-sh-date p,
    .sixth .ag-sh-text p,
    .sixth .ag-sh-title p {
        text-align: right !important;
    }

    .agenda-first,
    .agenda-second,
    .agenda-third,
    .agenda-fourth,
    .agenda-fifth,
    .agenda-sixth {
        height: 17vh;
        border: 2px solid #00FFA3;
        padding: .1rem;
    }

    .ag-fi-date,
    .ag-sc-date,
    .ag-th-date,
    .ag-fo-date,
    .ag-fv-date,
    .ag-sh-date {
        width: 100%;
    }

    .ag-fi-date p,
    .ag-sc-date p,
    .ag-th-date p,
    .ag-fo-date p,
    .ag-fv-date p,
    .ag-sh-date p {
        color: #00FFA3;
        text-align: left;
        font-size: 1.2rem;
    }

    .ag-fi-title,
    .ag-sc-title,
    .ag-th-title,
    .ag-fo-title,
    .ag-fv-title,
    .ag-sh-title {
        width: 100%;
    }

    .ag-fi-title p,
    .ag-sc-title p,
    .ag-th-title p,
    .ag-fo-title p,
    .ag-fv-title p,
    .ag-sh-title p {
        color: #FFFFFF;
        text-align: left;
        font-weight: 600;
        font-size: .8rem;
        margin-bottom: .3rem;
        margin-top: .3rem;
    }

    .ag-fi-text p,
    .ag-sc-text p,
    .ag-th-text p,
    .ag-fo-text p,
    .ag-fv-text p,
    .ag-sh-text p {
        color: #FFFFFF;
        font-weight: 100;
        text-align: left;
        font-size: .7rem;
        padding-left: .5rem;
    }

    .agenda-first,
    .agenda-third,
    .agenda-fifth {
        width: 100%;
        align-items: flex-start;
        text-align: left;
    }

    .agenda-second,
    .agenda-fourth,
    .agenda-sixth {
        width: 100%;
        align-items: flex-end;
    }
}

/* Veliki tableti*/
@media screen and (min-width:660px) {

    .agenda {
        background-image: url("../../../assets/Frame\(1\).png");
        background-size: 100% 100%;
        height: auto;
    }

    .agenda-content {
        display: flex;
        flex-direction: column;
        position: relative;
    }

    .agenda .title {
        font-weight: 100;
        color: #FFFFFF;
        font-size: 4rem;
        padding-left: 5rem;
        margin-bottom: 1rem;
    }

    .agenda .title::before {
        content: "";
        width: 7px;
        background-color: #00FFA3;
        height: 3rem;
        position: absolute;
        top: 2.5rem;
        left: 3.5rem;
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth {
      
        width: 40vw;
        padding: .3rem .5rem;
    }

    .second .ag-sc-date p,
    .second .ag-sc-text p,
    .second .ag-sc-title p,
    .fourth .ag-fo-date p,
    .fourth .ag-fo-text p,
    .fourth .ag-fo-title p,
    .sixth .ag-sh-date p,
    .sixth .ag-sh-text p,
    .sixth .ag-sh-title p {
        text-align: right !important;
    }

    .agenda-first,
    .agenda-second,
    .agenda-third,
    .agenda-fourth,
    .agenda-fifth,
    .agenda-sixth {
        height: 24vh;
        border: 2px solid #00FFA3;
        padding: .1rem;
    }

    .ag-fi-date,
    .ag-sc-date,
    .ag-th-date,
    .ag-fo-date,
    .ag-fv-date,
    .ag-sh-date {
        width: 100%;
    }

    .ag-fi-date p,
    .ag-sc-date p,
    .ag-th-date p,
    .ag-fo-date p,
    .ag-fv-date p,
    .ag-sh-date p {
        color: #00FFA3;
        text-align: left;
        font-size: 1.4rem;
    }

    .ag-fi-title,
    .ag-sc-title,
    .ag-th-title,
    .ag-fo-title,
    .ag-fv-title,
    .ag-sh-title {
        width: 100%;
    }

    .ag-fi-title p,
    .ag-sc-title p,
    .ag-th-title p,
    .ag-fo-title p,
    .ag-fv-title p,
    .ag-sh-title p {
        color: #FFFFFF;
        text-align: left;
        font-weight: 600;

        font-size: 1.2rem;
        margin-bottom: .3rem;
        margin-top: .3rem;
    }

    .ag-fi-text p,
    .ag-sc-text p,
    .ag-th-text p,
    .ag-fo-text p,
    .ag-fv-text p,
    .ag-sh-text p {
        color: #FFFFFF;
        font-weight: 100;
        text-align: left;
        font-size: .9rem;
        padding-left: .5rem;
    }

    .agenda-first,
    .agenda-third,
    .agenda-fifth {
        width: 100%;
        align-items: flex-start;
        text-align: left;
    }

    .agenda-second,
    .agenda-fourth,
    .agenda-sixth {
        width: 100%;
        align-items: flex-end;
    }
}

@media screen and (min-width:960px) {
    .agenda {
        display: block;
        position: relative;
        background-color: #181919;
        z-index: -1;
        background-image: url("../../../assets/Agenda\ -\ pozadina.png");
        background-size: 100% 100%;
       height: 100vh !important;
    }

    .agenda .title {
        font-size: 5rem;
        text-align: left;
        padding-left: 5rem;
        font-weight: 100;
        color: #FFFFFF;
    }

    .agenda .title::before {
        content: "";
        height: 3.7rem;
        width: 10px;
        background-color: #00FFA3;
        position: absolute;
        top: 3rem;
        left: 3.4rem;
    }

    .agenda-content {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    .first,
    .second,
    .third,
    .fourth,
    .fifth,
    .sixth {
        border-radius: 20px;
        padding: 2rem .3rem;
        width: 100%;
        background: linear-gradient(180.6deg, rgba(24, 25, 25, 0.316) 27%, rgba(24, 25, 25, 0) 109.32%);
        box-shadow: 0px 4px 15px -1px rgba(0, 0, 0, 0.25);

    }

    .agenda-first,
    .agenda-second,
    .agenda-third,
    .agenda-fourth,
    .agenda-fifth,
    .agenda-sixth {
        height: 73vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: none;
        padding: 2rem;
    }

    .ag-fi-date,
    .ag-sc-date,
    .ag-th-date,
    .ag-fo-date,
    .ag-fv-date,
    .ag-sh-date {
        font-size: 1rem;
        width: 100%;
    }

    .ag-fi-date p,
    .ag-sc-date p,
    .ag-th-date p,
    .ag-fo-date p,
    .ag-fv-date p,
    .ag-sh-date p {
        font-size: 1.7rem;
        color: #00FFA3;
        text-align: left;
    }

    .ag-fi-title,
    .ag-sc-title,
    .ag-th-title,
    .ag-fo-title,
    .ag-fv-title,
    .ag-sh-title {
        width: 100%;
    }

    .ag-fi-title p,
    .ag-sc-title p,
    .ag-th-title p,
    .ag-fo-title p,
    .ag-fv-title p,
    .ag-sh-title p {
        font-size: 1.4rem;
        color: #FFFFFF;
        margin-bottom: .5rem;
        margin-top: .5rem;
        text-align: left;
        font-weight: 600;
    }

    .ag-fi-text p,
    .ag-sc-text p,
    .ag-th-text p,
    .ag-fo-text p,
    .ag-fv-text p,
    .ag-sh-text p {
        font-size: 1rem;
        color: #FFFFFF;
        font-weight: 100;
        text-align: left;
    }

    .agenda-first {
        padding-top: 50%;
    }

    .agenda-second {
        padding-bottom: 50%;
    }

    .agenda-third {
        padding-top: 50%;
    }

    .agenda-fourth {
        padding-bottom: 50%;
    }

    .agenda-fifth {
        padding-top: 50%;
    }

    .agenda-sixth {
        padding-bottom: 50%;
    }
}