p {
    text-align: center;
        font-size: 60px;
}

#dani {
    margin-left: -20rem;
    font-size: 1.5rem;
}

#sati {
    font-size: 1.5rem;
}

.wrapper {
    display: block;
    background-color: #181919;
    padding-top: 10rem;
}



/* @property --num {
    syntax: "<integer>";
    initial-value: 0;
    inherits: false;
}

p {
    animation: counter 5s infinite alternate ease-in-out;
    counter-reset: num var(--num);
    
}

@keyframes p {
    from {
        --num: 0;
    }

    to {
        --num: 100;
    }
} */