.timer-text {
  text-align: center;
  font-size: 4vw;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  color: #ffff;
}

.dani {
  font-size: 0.2w;
  margin-left: -17vw;
  margin-bottom: -1vw;
}

.sati {
  font-size: 1w;
  margin-left: -8vw;
  margin-top: -1vw;
}

.wrapper-t {
  display: flex;
  justify-content: center;

  background-color: #181919;
  color: #00ffa3;
  position: relative;
  margin-top: 20vh;
  height: 60vh;
}

.timer {
  position: absolute;
  width: 100%;
  text-align: center;
  transform: scale(0.94);
  animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);

  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  font-size: 2vw;
  color: #ffff;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.timer-span {

  position: absolute;
  left: 28vw;
  top: 2vw;
  
  opacity: 1;
  filter: blur(0px);

  animation: fade-out 2s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);

}


@keyframes fade-out {
  100% {
    opacity: 0;
    filter: blur(4px);
  }
}

.demo {
  max-width: 100%;
  text-align: center;
  font-size: 4vw;
  transform: scale(0.94);
  animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);

  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;

  /* identical to box height */

  color: #00ffa3;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}

.timer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  opacity: 0;
  filter: blur(4px);
  animation: fade-in 2s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0px);
  }
}
