p {
    text-align: center;
    font-size: 3rem;

}

#dani {
    margin-left: -18rem;
    font-size: 1.5rem;
    padding-top: 1rem;
}

#sati {
    font-size: 1.5rem;
    margin-left: -2rem;
}

.wrapper {
    display: block;
    background-color: #181919;
    color: #00ffa3;
    position: relative;
    height: 100vh;
    padding-top: 45vh;
    z-index: -1;
}

.timer-text {
    font-family: "Montserrat Medium";
    max-width: 100%;
    text-align: center;
    transform: scale(0.94);
    animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);

}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

span .timer-span {
    display: inline-block;
    opacity: 1;
    filter: blur(0px);
    margin: .5rem;
}

.timer-span:nth-child(1) {
    animation: fade-out 2s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);

}

.timer-span:nth-child(2) {
    animation: fade-out 2s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.timer-span:nth-child(3) {
    animation: fade-out 2s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.timer-span:nth-child(4) {
    animation: fade-out 2s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

@keyframes fade-out {
    100% {
        opacity: 0;
        filter: blur(4px);
    }
}

.demo {
    font-family: "Montserrat Medium";
    max-width: 100%;
    text-align: center;
    transform: scale(0.94);
    animation: scale 4s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

@keyframes scale {
    100% {
        transform: scale(1);
    }
}

.timer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    filter: blur(4px);
    animation: fade-in 2s 2s forwards cubic-bezier(0.11, 0, 0.5, 0);

}

@keyframes fade-in {
    100% {
        opacity: 1;
        filter: blur(0px);
    }
}