.ceo-f {
  background-color: #181919;
  /* height: 1000px; */
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
 
}
.rectangle-f {
  float: left;
  background: #00ffa3;
  width: 15px;
  height: 65px;
    
}

.tekst_naslov-f {
  margin-left: 1.5%;
  margin-top: 1.7%;
  float: right;
  font-size: 80px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  
  color: #ffffff;
}
.naslov-f {
  margin-left: 8%;

  display: flex;
}
.body {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  font-size: 32px;
  line-height: 44px;
  color: #ffffff;
  background-color: rgb(129, 16, 129);
}
.wrapper-f {
  margin-top: 0em;
  display: flex;
  /* height: 50vh; */
  width: 100vw;
  justify-content: flex-start;
  /* align-items: center; */
  /* margin-left: 11%; */
}
.accordion-f {
  width: 51%;
  margin-left: 11%;
}
.item-f {
  margin-bottom: 5%;
  border-bottom: 1px solid rgba(255, 255, 255, 1);

}
.title-f {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
}

.title-f h2 {
  margin-bottom: -0.1%;
}

.content {
  color: #ffffff;
  overflow: hidden;
  max-height: 0;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  text-align: left;
}

.content.show {
  height: auto;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(1, 0, 1, 0);
  font-family: "Manrope";
  font-style: normal;
  font-weight: 400;
  text-align: left;
  margin-top: 5px;
  margin-bottom: 10px;
}
.span-f {
  display: inline-block;
  transform: scale(3);
}
.title-f h2{
  font-family: "Manrope";
  font-style: normal;
  font-weight: 300;
}

@media screen and (max-width: 1920px) {
  .rectangle-f{
    margin-top: 4%;
  }
  .item-f{
    width: 40vw;
  }
  .tekst_naslov-f {
    margin-left: 1.5%;
    margin-top: 2.6%;
    float: right;
    font-size: 80px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    
    color: #ffffff;
  }
  .wrapper-f {
    margin-top: 5%;
    display: flex;
    /* height: 50vh; */
    width: 100vw;
    justify-content: flex-start;
    /* align-items: center; */
    /* margin-left: 11%; */
  
  }
  .title-f {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 25px;
  }
  
}
@media screen and (max-width: 1200px) {
  .tekst_naslov-f {
    margin-left: 1.5%;
    margin-top: 1.7%;
    float: right;
    font-size: 70px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    line-height: 164px;
    color: #ffffff;
  }
  .rectangle-f {
    float: left;
    background: #00ffa3;
    width: 12px;
    height: 53px;
    margin-top: 6.8%;
  }
  .item-f{
    width: 57vw;
  }

}
@media screen and (max-width: 960px) {
  .tekst_naslov-f {
    margin-left: 1.5%;
    margin-top: 1.7%;
    float: right;
    font-size: 60px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    line-height: 164px;
    color: #ffffff;
  }
  .rectangle-f {
    float: left;
    background: #00ffa3;
    width: 12px;
    height: 50px;
    margin-top: 8%;
  }
  .item-f{
    width: 62vw;
  }
}
@media screen and (max-width: 620px) {
  .tekst_naslov-f {
    margin-left: 2%;
    margin-top: 1.7%;
    float: right;
    font-size: 40px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    line-height: 164px;
    color: #ffffff;
  }
  .accordion-f {
    width: 51%;
    margin-left: 7%;
  }
  .naslov-f {
    margin-left: 3%;
  
    display: flex;
  }
  .rectangle-f {
    float: left;
    background: #00ffa3;
    width: 7px;
    height: 34px;
    margin-top: 12%;
  }
  .title-f {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
  }
  
}
@media screen and (max-width: 480px) {  
  .tekst_naslov-f {
    margin-left: 2%;
    margin-top: 1.7%;
    float: right;
    font-size: 30px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
   
    color: #ffffff;
  }
  .title-f {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 10px;
  }
  .rectangle-f {
    float: left;
    background: #00ffa3;
    width: 5px;
    height: 25px;
    margin-top: 16.5%;
  }
  
}
@media screen and (max-width: 340px) {
  .tekst_naslov-f {
    margin-left: 2%;
    margin-top: 1.7%;
    float: right;
    font-size: 23px;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    
    color: #ffffff;
  }
  .rectangle-f {
    float: left;
    background: #00ffa3;
    width: 5px;
    height: 25px;
    margin-top: 22%;
  }
  .title-f {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 8px;
  }
  .item-f{
    width: 70vw;
  }
  .wrapper-f {
    margin-top: -10%;
    display: flex;
    height: 50vh;
    width: 100vw;
    justify-content: flex-start;
    /* align-items: center; */
    /* margin-left: 11%; */
  
  }
  
  
}
