.ceo{
    background-color: purple;
    height: 1000px;
   
}
#rectangle{
    float: left;
    background: #00FFA3;
    width: 17px;
    height: 65px;
    margin-top: 3.5%;
}

#tekst_naslov{
    margin-left: 2%;
    float: right;
    font-size: 80px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 200;
    line-height: 164px;
    color: #FFFFFF;
   
}
.ceo_naslov{
    margin-left: 8%;
    
    display: flex;
}
.tekst{
    
    width: 100vh;
    margin-right: 10%;
    border: 5px solid green;

}
.telo{
    display: flex;
    justify-content: center;
}

.timovi{
    background-color: aliceblue;
    width: 200px ;
    height: 100px ;
    margin-right: 30%;
    margin-bottom: 60%;
}
.gradovi{
    background-color: aliceblue;
    width: 200px ;
    height: 100px ;
    margin-right: 90%;
    margin-bottom: 60%;

}
.takmicari{
    background-color: blue;
    width: 200px ;
    height: 100px ;
    margin-right: 90%;
}
.statistika{
    flex-direction: row;
    justify-content: space-around;
}