.ceo-partneri {
  height: 100%;
  background-color: #181919;
}

.ceo-partneri h1 {
  margin-top: 1.2%;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 200;
  font-size: 6vw;
  color: #ffffff;
}

.pokrovitelj-naslov {
  margin-bottom: 2%;
}

.pokrovitelj {
  margin-top: 8%;
  margin-bottom: 3%;
}

.partner img {
  z-index: -100;
}

.partner {

  z-index: -10;

  display: flex;
  /* align-items: center; */
  justify-content: center;

  background: #c3b0ff;
  box-shadow: 25px 50px 70px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  /* transform: scale(1.1); */
  margin: 0 auto;
}

.partner img {
  margin-top: 0px;
  width: 16em;
  height: 9em;
  border-radius: 30px;
}

.pokrovitelj-logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.linija img {
  width: 100%;
}


@media screen and (max-width: 1920px) {
  .ceo-partneri h1 {
    margin-top: 1.2%;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 4vw;
    color: #ffffff;
  }
}
@media screen and (max-width: 1200px) {
  .ceo-partneri h1 {
    margin-top: 1.2%;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 4vw;
    color: #ffffff;
  }
}
@media screen and (max-width: 960px) {
  .ceo-partneri h1 {
    margin-top: 1.2%;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 4vw;
    color: #ffffff;
  }
}
@media screen and (max-width: 620px) {
  .ceo-partneri h1 {
    margin-top: 1.2%;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 4vw;
    color: #ffffff;
  }
}
@media screen and (max-width: 480px) {
  .ceo-partneri h1 {
    margin-top: 1.2%;
    font-family: "Manrope";
    font-style: normal;
    font-weight: 200;
    font-size: 4vw;
    color: #ffffff;
  }
}
@media screen and (max-width: 340px) {
}
